[UI]
# Enables or disables debug logs for UIFramework.
EnableDebugMode = true
# Hides the UI Automatically in between scenes.
AutoHideOnSceneLoad = true

[UIFrameworkExperimental]
# This is a test bool.
TestBool = true
# This is a test string.
TestString = "agai"
# This is a test int.
TestInt = 1231
# This is a test float.
TestFloat = 2.299999952316284
# This is a test double.
TestDouble = 1.52
# This is a test enum.
TestEnum = "NumericInt"
# This is a test list of integers.
TestList = [ 1, 2, 3, ]
# This tests enums that don't start from zero
Non-Zero = "c"
# This tests enums that have gaps in between the explicitlyi named values
Non-Cont = "y"

[EmptyDisplayName]
# This is a test string.
NoDisplayName = "something"

[TestBooleans]
TestBool0 = false
TestBool1 = false
TestBool2 = false
TestBool3 = false
TestBool4 = false
TestBool5 = false
TestBool6 = true
TestBool7 = true
TestBool8 = false
TestBool9 = false

